body, html {
	margin: 0;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
	background-color: #f2efe8;
}

nav {
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix { /* Clearfix */
	clear: both;
}

/*#button-container {
	position: absolute;
	left: 80%;
	top: 30%
}*/

#button-container {
	position: absolute;
	left: 80%;
	top: 30%
	/*transform: translateX(-100%);*/
	/*display: inline-block;*/
	/*padding: 20px 10px;*/
}

#nav-container {
	position: relative;
	margin-left: 220px;
	align-content: center;
}

#nav-tools {
	position: relative;
}

.post img {
	width: 20px;
}

.dropdown {
	padding: 10px;
}

#alt-searchbox {
	padding: 10px;
}

#alt-searchbox input {
	width: 70%;
  height: 30px;
  position: relative;
}

#alt-searchbox #search-icon img {
	width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 30%)
}

#alt-searchbox a {
	background-color: grey;
    width: 34px;
    height: 34px;
    position: absolute;
    transform: translate(10px, 1px);
}

#sidebar {
	background-color: #b0aac2;
	float: left;
	height: 100vh;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#sidebar-h1 {
	margin: 10px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 48px;
}

#sidebar-h2 {
	margin: 10px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


.top-buttons {
	position: relative;
	margin: 5px;
	margin-bottom: 2px;
}

.middle-buttons {
	position: relative;
	margin: 5px;
	margin-bottom: 0px;
}

.button-container {
	padding: 5px 10px 5px 10px;
}

.button-container button {
	font-family: "Roboto", sans-serif;
	background-color: white;
	border: 2px;
	border-radius: 3px;
}

.button-container button:hover {
	opacity: 0.8;
}

.checkboxes {
	margin: 20px 0px 0px 10px;
	font-size: 18px;
}

.checkboxes .box {
	margin-bottom: 10px;
}

.bottom-buttons {
	position: relative;
	margin: 10px;
}

#container {
	/*position: relative;
	width: 100%;
	height: 29em;
	overflow-y: auto;
	text-align: center;*/
	/*transform: translateX(10%);*/

	margin-top: 5px;
	padding: 15px;
	width: 80%;
	height: 90%;
	overflow-y: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	position: relative;
	transform: translateX(220px);
}

.post {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 250px;
	height: 300px;
	float: right;
	position: relative;
	padding: 0px 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	transform: translateX(-10%);
	background-color: #c2d4d8;
}

.post:hover {
	box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
}


.img-container {
	max-width: 250px;
	max-height: 300px;
	overflow: hidden;
}

.img-container img {
	position: relative;
	display: block;
	max-width: 300px;
	max-height: 200px;
	width: auto;
	height: auto;
	margin: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.price {
  position: absolute;
  color: #b56969;
  font-size: 24px;
  top: 0px;
  background: rgba(255, 255, 255, 1);
  transform: translateX(-10px);
	padding: 5px;
}

.pinfo-container {
	position: relative;
	background-color: #f2efe8;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}


.pinfo-container img {
	float: left;
}

.pinfo-container .title {
	text-align: center;
}

.pinfo-container .description {
	float: left;
	padding-top: 10px;
	position: absolute;
}
