body, html {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*overflow: hidden;*/
}

#container {
   width: 1100px;
   margin: 0px auto;
   box-shadow: 10px 10px 5px #8E8C8C;
   height: 550px;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 85px);
   -ms-transform: translate(-50%, 85px);
   -webkit-transform: translate(-50%, 85px);
}

#important-info {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 25px;
	font-family: 'Roboto', sans-serif;
}

#price {
	font-size: 2.4em;
	font-family: 'Roboto', sans-serif;
}

.info {
	margin: 5px 0px;
	font-family: 'Roboto', sans-serif;
}

#image-container {
	position: relative;
	display: inline-block;
	margin-top: 33px;
}

#image-container #image {
	position: relative;
	left: 40%;
}

#image-container #map {
	position: relative;
	left: 55%;
}

#image {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
}

#image img {
	width: 400px;
}

#map {
	display: inline-block;
	vertical-align: top;
}

#map img {
	width: 200px;
}

#description {
	font-size: 15px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

#second {
	position: relative;
	font-family: 'Roboto', sans-serif;
	/*display: inline-block;*/
}

#text-container {
	margin-top: 2px;
	width: 400px;
	bottom: -150px;
	overflow: scroll;
	height: 210px;
	vertical-align: top;
	display: inline-block;
	transform: translateX(95%);
}

#contact {
	vertical-align: top;
	display: inline-block;
	transform: translateX(643%);
	font-family: 'Roboto', sans-serif;
	background-color: #b0aac2;
	color: white;
	outline: none;
	border-width: 1px;
	border-color: #705d89;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease;
	padding: 8px 16px;
	margin: 5px;
}

#top-bar {
	position: fixed;
	width: 100%;
	background-color: #b0aac2;
	height: 10%;
	box-shadow: 0px 30px 40px rgba(0,0,0,.1);
}

#title-container {
	background-color: #E1DDDD;
	padding: 10px 10px;
}

#title {
	font-family: 'Roboto', sans-serif;
}

#back {
	background-color: white;
	color: #615176;
	outline: none;
	border-width: 1px;
	border-color: #705d89;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease;
	font-family: 'Roboto', sans-serif;
	padding: 8px 16px;
	margin: 5px;
}

#account, #post {
	background-color: white;
	color: #615176;
	outline: none;
	border-width: 1px;
	border-color: #705d89;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.15s ease;
	font-family: 'Roboto', sans-serif;
	padding: 8px 16px;
	margin: 5px;
}

#post:hover, #account:hover, #back:hover, #contact:hover {
	opacity: 0.8;
}

#back-container {
	position: absolute;
	top: 30%;
	left: 4%;
}

#button-container {
	position: absolute;
	right: 5%;
	top: 30%;
}

nav {
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix { /* Clearfix */
	clear: both;
}
