body, html {
	margin: 0;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*overflow: hidden;*/
}

nav {
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix { /* Clearfix */
	clear: both;
}

.footer {
	position: relative;
	/*right: 100%;*/
}

.footer-bar {
	background-color: #494E6B;
	width: 100%;
	position: fixed;
	top: 100%;
	right: 0%;
	transform: translateY(-100%);
}

.menu .footer {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.footer-item, .footer-item2 {
	float: left;
	list-style: none;
}

.footer-item a, .footer-item2 a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	opacity: 0.4;
}

#copyright {
	position: absolute;
	left: 50%;
}

.footer-item a:hover, .footer-item2 a:hover {
	opacity: 0.8;
}

.footer-item2 #language {
	position: absolute;
	left: 90%;
	transform: translateX(-90%);
}

.footer-item2 #location {
	position: absolute;
	left: 100%;
	transform: translateX(-100%);
}

#button-container {
	position: absolute;
	left: 80%;
	top: 30%
	/*transform: translateX(-100%);*/
	/*display: inline-block;*/
	/*padding: 20px 10px;*/
}

#nav-tools {
	/*margin: 20px;*/
	position: relative;
	left: 25%;
}

#alt-searchbox #search-icon img {
	width: 10px;
}

#alt-searchbox a {
	background-color: grey;
	width: 10px;
	height: 8px;
}

#sidebar {
	background-color: #494E6B;
	float: left;
	height: 100vh;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#sidebar-h1 {
	margin: 10px;
	text-align: center;
}

.sidebar-content {
}

.top-buttons {
	position: relative;
}

.middle-buttons {
	position: relative;
	left: 50%;
	transform: translateX(-30%);
}

.button-container {
	padding: 0px 10px 10px 10px;
}

.checkboxes {
	margin: 20px;
}

.checkboxes .box {
	padding: 20px 0px 20px 0px;
}

.bottom-buttons {
	position: relative;
	margin: 20px;
}

#list-container{
	margin: 10px;
	width: 60em;
	height: 30em;
	border: 1px solid black;
	overflow: auto;
	text-align: center;
}

table, th, td{
	padding: 10px;
	width: 100%;
}

th, td{
	border-bottom: 1px solid #ddd;
	text-align: left;
	width: auto;
}

th{
	height: 50px;
	vertical-align: middle;
}

tr:hover {
	background-color: #f5f5f5
}
