body, html {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*overflow: hidden;*/
}

#container-container {
	width: 100%;
	/*height: 100vh;*/
	position: fixed;
}

#container {
   width: 68.75em;
   margin: 0em auto;
   /*margin-top: 1.25em;*/
   margin-bottom: 1.25em;
   box-shadow: 0.625em 0.625em 0.3125em #8E8C8C;
   height: 31em;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 5.3125em);
   -ms-transform: translate(-50%, 5.3125em);
   -webkit-transform: translate(-50%, 5.3125em);
   /*top: 2em;*/

}

#important-info {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 1.25em;
	margin-left: 1.5625em;
	margin-top: 1.25em;
	margin-left: 6em;
	font-family: 'Roboto', sans-serif;
}

#price {
	font-size: 2.4em;
	font-family: 'Roboto', sans-serif;
}

.info {
	margin: 0.3125em 0em;
	margin: 0.3125em 0em;
	font-family: 'Roboto', sans-serif;
}

#image-container {
	position: relative;
	display: inline-block; 
	margin-top: 2em;
	display: inline-block;
	margin-top: 2.0625em;
}

#image-container #image {
	position: relative;
	left: 27%;
}

#image-container #map {
	position: relative;
	left: 42.5%;
}

#image {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0.625em;
}

#image img {
	width: 25em;
}

#map {
	display: inline-block;
	vertical-align: top;
}

#map img {
	width: 12.5em;
}

#description {
	font-size: 0.9375em;
	line-height: 1.875em;
	font-family: 'Roboto', sans-serif;
}

#second {
	position: relative;
	font-family: 'Roboto', sans-serif;
	/*display: inline-block;*/
}

#text-container {
	margin-top: 0.3em;
	width: 25em;
	bottom: -9.375em;
	overflow: scroll;
	height: 10em;
	vertical-align: top;
	display: inline-block;
	transform: translateX(95%);
}

#contact {
	vertical-align: top;
	display: inline-block;
	transform: translateX(590%);
	font-family: 'Roboto', sans-serif;
	background-color: #b0aac2;
	color: white;
	outline: none;
	border-width: 0.0625em;
	border-color: #705d89;
	border-radius: 0.3125em;
	cursor: pointer;
	transition: all 0.15s ease;
	padding: 0.5em 1em;
	margin: 0.3125em;
}

#top-bar {
	position: fixed;
	width: 100%;
	background-color: #b0aac2;
	height: 10%;
	box-shadow: 0em 1.875em 2.5em rgba(0,0,0,.1);
}

#title-container {
	background-color: #E1DDDD;
	padding: 0.625em 0.625em;
}

#title {
	font-family: 'Roboto', sans-serif;
}

#back {
	background-color: white;
	color: #615176;
	outline: none;
	border-width: 0.0625em;
	border-color: #705d89;
	border-radius: 0.3125em;
	cursor: pointer;
	transition: all 0.15s ease;
	font-family: 'Roboto', sans-serif;
	padding: 0.5em 1em;
	margin: 0.3125em;
}

#account, #post {
	background-color: white;
	color: #615176;
	outline: none;
	border-width: 0.0625em;
	border-color: #705d89;
	border-radius: 0.3125em;
	cursor: pointer;
	transition: all 0.15s ease;
	font-family: 'Roboto', sans-serif;
	padding: 0.5em 1em;
	margin: 0.3125em;
}

#post:hover, #account:hover, #back:hover, #contact:hover {
	opacity: 0.8;
}

#back-container {
	position: absolute;
	top: 30%;
	left: 4%;
}

#button-container {
	position: absolute;
	right: 5%;
	top: 30%;
}

nav {
	overflow: hidden;
	max-width: 62.5em;
	margin: 0 auto;
}

.clearfix { /* Clearfix */
	clear: both;
}
