body, html {
	margin: 0;
	/*position: fixed;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*overflow: hidden;*/
}

nav {
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix { /* Clearfix */
	clear: both;
}

.footer {
	position: relative;
	/*right: 100%;*/
}

.footer-bar {
	background-color: #494E6B;;
	width: 100%;
	position: fixed;
	top: 100%;
	right: 0%;
	transform: translateY(-100%);
}

.menu .footer {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

.footer-item, .footer-item2 {
	float: left;
	list-style: none;
}

.footer-item a, .footer-item2 a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	opacity: 0.4;
}

#copyright {
	position: absolute;
	left: 50%;
	color: white;
}

.footer-item a:hover, .footer-item2 a:hover {
	opacity: 0.8;
}

.footer-item2 #language {
	position: absolute;
	left: 90%;
	transform: translateX(-90%);
}

.footer-item2 #location {
	position: absolute;
	left: 100%;
	transform: translateX(-100%);
}

/*#button-container {
	position: absolute;
	left: 80%;
	top: 30%
}*/

#button-container {
	position: absolute;
	left: 80%;
	top: 30%
	/*transform: translateX(-100%);*/
	/*display: inline-block;*/
	/*padding: 20px 10px;*/
}

#nav-container {
	position: relative;
	margin-left: 12em;
	align-content: center;
}

#nav-tools {
	position: relative;
}

.post img {
	width: 20px;
}

.dropdown {
	padding: 10px;
}

#alt-searchbox {
	padding: 10px;
}

#alt-searchbox input {
	width: 70%;
    height: 30px;
    position: relative;
}

#alt-searchbox #search-icon img {
	width: 20px;
    height: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 30%)
}

#alt-searchbox a {
	background-color: grey;
    width: 34px;
    height: 34px;
    position: absolute;
    transform: translate(10px, 1px);
}

#sidebar {
	background-color: #494E6B;;
	float: left;
	height: 100vh;
	position: fixed;
	font-family: 'Roboto', sans-serif;
	color: white;
}

#sidebar-h1 {
	margin: 10px;
	text-align: center;
}


.top-buttons {
	position: relative;

}

.middle-buttons {
	position: relative;
}

.button-container {
	padding: 0px 10px 10px 10px;
}

.button-container button {

}

.button-container button:hover {
	opacity: 0.8;
}

.checkboxes {
	margin: 20px 0px 0px 10px;
}

.checkboxes .box {
	margin-bottom: 10px;
}

.bottom-buttons {
	position: relative;
	margin: 10px;
}

#container {
	position: relative; 
	width: 100%;
	height: 29em;
	overflow-y: auto;
	text-align: center;
	/*transform: translateX(10%);*/
}

.post {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 250px;
	height: 300px;
	float: right;
	position: relative;
	padding: 0px 20px;
	margin: 20px;
	transform: translateX(-20%);
}

.post:hover {
	box-shadow: 0 16px 20px 0 rgba(0,0,0,0.2);
}


.img-container {
	max-width: 250px;
	max-height: 300px;
	overflow: hidden;
}

.img-container img {
	position: relative;
	display: block;
  	max-width: 300px;
  	max-height: 200px;
  	width: auto;
  	height: auto;
	margin: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.price {
    position: absolute;
    color: red;
    font-size: 24px;
    top: 0px;
    background: azure;
    transform: translateX(-10px);
}

.pinfo-container {
	position: relative;
	background-color: pink;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}


.pinfo-container img {
	float: left;
}

.pinfo-container .title {
	text-align: center;
}

.pinfo-container .description {
	float: left;
	padding-top: 10px;
	position: absolute;
}
